@import "regimes-card"

.regimes
    max-width: 130rem
    margin: 5rem auto 0

    &-container
        margin-top: 3rem

        display: grid
        grid-template-columns: repeat(3, 1fr)

        &__el
            display: flex
            justify-content: center
            align-items: center
