.friends
    background-color: #FFFFFF
    border-radius: 1rem
    padding: 2.4rem
    width: 40%

    &-header
        font-size: 1.8rem
        margin-bottom: 2rem

    &-search__form
        display: flex
        justify-content: space-between

        width: 100%

        margin-bottom: 2rem

        &_el
            width: 100%
            position: relative

        &_input
            border: none
            outline: none

            width: 60%
            height: 4.4rem
            background: #F2F4F8
            border-radius: 1.2rem

            padding-left: 3.3rem

            &::placeholder
                font-size: 1.4rem

        &_icon
            position: absolute
            left: 1rem
            top: 50%
            transform: translateY(-50%)

            font-size: 1.6rem

    &-mine
        margin-top: 3rem
