.friends-filter
    background-color: #FFFFFF
    border-radius: 1rem
    padding: 2.4rem

    margin-bottom: 2rem

    &__el
        font-size: 1.4rem

        letter-spacing: -0.035em

        &:not(:last-child)
            margin-bottom: 2.4rem

        &_active
            color: #2F80ED
