.feed-card
    background: #FFFFFF
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05)
    border-radius: 0.8rem
    padding: 2rem

    width: 60%

    &:not(:last-child)
        margin-bottom: 2rem

    &-container
        display: flex
        margin-bottom: 2rem

    &-img__container
        width: 4rem
        height: 4rem

        background: grey
        border-radius: 0.8rem

        margin-right: 1.8rem

    &-img

    &-name
        font-weight: 700
        font-size: 1.8rem
        line-height: 2.2rem

        color: #0A0A0A

    &-data
        font-weight: 400
        font-size: 1.4rem
        line-height: 1.8rem
        letter-spacing: -0.035em

        color: #BDBDBD

    &-description
        font-weight: 400
        font-size: 1.8rem
        line-height: 2.2rem

        color: #0A0A0A

        margin-bottom: 2rem

    &-essay

        &__img
            width: 100%
            height: 375.73px

            border-radius: 8px
