.write-main
    background: #EBF7F7
    padding: 2.5rem

    border-radius: 1rem

    &-container
        background-color: #FFFFFF
        width: 100%
        height: 100%

    &__form
        width: 100%
        height: 100%

        &_textarea
            width: 100%
            height: 100%

            padding: 1rem
            font-size: 2.4rem

    .rdw-editor-main
        padding: 0 3rem

    .public-DraftStyleDefault-ltr
        font-size: 2.5rem
