.welcome-example
    max-width: 100rem
    margin: 0 auto
    margin-top: 7.7rem

    display: flex
    align-items: center

    @include respond(tab-port)
        display: block

    &__switch
        margin-right: 5rem

        @include respond(tab-port)
            display: flex
            justify-content: space-around

        @include respond(phone)
            display: grid
            grid-template-columns: repeat(2, 1fr)
            margin-right: 0

        &_item

            font-weight: 600
            font-size: 22px

            letter-spacing: -0.408px

            color: #FFFFFF
            display: flex
            cursor: pointer

            padding: 1rem

            @include respond(phone)
                justify-content: center
                align-items: center

            &:not(:last-child)
                margin-bottom: 2rem

            &:hover
                background-color: white
                color: black

            .welcome-icon-container
                margin-right: 1rem
                // width: 2rem
                // height: 2rem
