.header-dropdown
    width: 25.3rem
    height: 26.0rem
    background-color: white

    position: absolute
    bottom: calc(-100% - 23.3rem)
    right: 0

    box-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.25)
    border-radius: 1rem
    border-top-right-radius: 0

    padding: 1.5rem

    &__line
        height: 1px
        background-color: #E0E0E0
        border: none

        margin: 0.5rem 0

    &-nav
        height: 16.0rem
        bottom: calc(-100% - 6.5rem)
        right: 8rem

    &__description
        font-size: 1.5rem
        color: #000000
        margin-bottom: 1rem

    &__user
        display: flex
        align-items: flex-start
        margin-bottom: 1rem

        &_img
            width: 4.5rem
            height: 4.5rem
            margin-right: 1rem

        &_icon
            font-size: 2.4rem
            margin-right: 1rem
            color: #6D7885

            border-radius: 1rem
            background-color: #D9D9D9
            padding: 1rem

        &_name
            font-weight: 600
            font-size: 2rem
            line-height: 2rem

            color: #000000

        &_email
            font-size: 1.3rem
            height: 1.3rem
            color: #767676

            word-break: break-all

    &__item
        display: flex
        align-items: center

        font-weight: 600
        color: #000000

        cursor: pointer

        padding: 1rem

        &:not(&:last-child)

        &:hover
            background-color: rgba(0, 0, 0, 0.1)

        &_text
            font-size: 1.4rem
            // line-height: 2rem

        &-logout
            color: #EB5757

    &_icon
        width: 2.4rem
        height: 2.4rem
        margin-right: 1rem
        padding-top: 0.2rem
