@import "header-dropdown"

.header

    background-color: $base-color
    position: sticky
    top: 0
    z-index: 100

    padding: 1.4rem 0

    &-container

        height: 5.4rem

        max-width: 124rem
        margin: 0 auto

        display: flex
        justify-content: space-between
        align-items: center

        @include respond(tab-land)
            padding: 0 1.5rem

        @include respond(tab-port)
            padding: 0 2rem

    &-logo
        display: flex
        align-items: center

        &__img
            background-color: grey
            width: 3.6rem
            height: 3.6rem
            margin-right: 1rem

        &__name
            font-weight: 600
            font-size: 1.8rem

            color: #FFFFFF

    &-autorization
        display: flex
        align-items: center

    &__nav
        width: 65%
        display: flex

        @include respond(tab-port)
            width: 80%
            justify-content: flex-end

        &_icon_container
            cursor: pointer
            background-color: #D9D9D9
            border-radius: 50%
            padding: 1rem 1.5rem

        &_icon
            font-size: 2.4rem
            color: #FFFFFF

    &__link
        font-size: 2rem
        color: $white-color

        margin-right: 5rem

    &-user__nav
        display: flex
        align-items: center

    &__user_container
        height: 100%
        cursor: pointer
        display: flex
        align-items: center

        padding: 1rem

        position: relative

        &:hover
            background-color: rgba(255, 255, 255, 0.3)

    &__user

        border-radius: 50%
        overflow: hidden
        background-color: #D9D9D9
        margin-right: 1rem

        display: flex
        justify-content: center
        align-items: center

        &_img
            width: 4.2rem
            height: 4.2rem

            &_icon
                padding: 1.2rem
                color: #6D7885
                font-size: 1.6rem

        &_icon
            color: $white-color
            font-size: 1.6rem
