@import "header-dropdown"

.header

    background-color: $base-color
    position: sticky
    top: 0
    z-index: 100

    padding: 1.4rem 0

    &-container

        height: 5.4rem

        max-width: 130rem
        margin: 0 auto

        display: flex
        justify-content: space-between
        align-items: center

        @include respond(tab-land)
            padding: 0 1.5rem

        @include respond(tab-port)
            padding: 0 2rem

    &-logo
        display: flex
        align-items: center

        &__img
            background-color: grey
            width: 3.6rem
            height: 3.6rem
            margin-right: 1rem

        &__name
            font-weight: 600
            font-size: 1.8rem

            color: #FFFFFF

    &-autorization
        display: flex
        align-items: center

    &__nav
        width: 65%
        display: flex

        @include respond(tab-port)
            width: 80%
            justify-content: flex-end

        &_icon_container
            cursor: pointer
            background-color: #D9D9D9
            border-radius: 50%
            padding: 1rem 1.5rem

        &_icon
            font-size: 2.4rem
            color: #FFFFFF

    &__link
        font-size: 2rem
        color: $white-color

        margin-right: 5rem

    &__user
        &_name
            margin-right: 1rem
            font-size: 1.4rem

            color: #FFFFFF

        &__nav
            display: flex
            align-items: center

            &_container
                display: flex
                align-items: center

            &_icon
                color: #FFFFFF
                font-size: 2.4rem
                margin-right: 1rem

        &_container
            height: 100%
            cursor: pointer
            display: flex
            align-items: center

            position: relative
            padding: 1rem 0.3rem

            &:hover
                background-color: rgba(255, 255, 255, 0.3)

        &_img_container

            border-radius: 1rem
            overflow: hidden
            background-color: #D9D9D9

            display: flex
            justify-content: center
            align-items: center
            margin-right: 0.5rem

        &_img
            width: 4.2rem
            height: 4.2rem

            &_icon
                padding: 1.2rem
                color: #6D7885
                font-size: 1.6rem

        &_icon
            color: $white-color
            font-size: 1.6rem
