.dashboard-card

    height: 45vh
    border: 1px solid rgba(232, 234, 238, 0.8)
    border-radius: 1rem

    cursor: pointer

    position: relative

    &:hover
        .dashboard-card__icon_container
            opacity: 1

    &__icon_container
        position: absolute
        top: 3%
        right: 3%
        z-index: 10

        display: flex
        justify-content: center
        align-items: center
        background-color: #B8C1CC

        width: 3rem
        height: 3rem

        border-radius: 50%

        opacity: 0

    &__delete
        font-size: 1.6rem
        color: white

    &__img_container
        background-color: grey
        height: 60%
        width: 100%
        border-radius: 1rem

    &__info
        padding: 2rem

    &__topic
        font-weight: 500
        font-size: 2rem
