@import "profile-header"
@import "profile-nav"
@import "dashboard"
@import "dashboard-card"
@import "topic-card"

.profile
    max-width: 130rem
    margin: 0 auto

    &-container
        display: flex
