@import "profile-header"
@import "profile-nav"
@import "profile-main"

@import "dashboard"
@import "dashboard-card"

@import "stats/stats"
@import "stats/stats-block"

@import "topic-card"

.profile
    max-width: 130rem
    margin: 0 auto

    &-container
        display: flex
