.topic-card
    width: 80%
    margin: 3rem auto 0
    height: 45vh
    border: 1px solid rgba(232, 234, 238, 0.8)
    border-radius: 1rem
    padding: 2rem

    &-top
        display: flex
        justify-content: space-between
