.better
    margin-top: 7rem

    max-width: 130rem
    margin: 0 auto
    padding: 10rem

    height: 200rem

    position: relative

    @include respond(phone)

    @include respond(tab-land)

    @include respond(tab-port)

    &-illustrations
        position: absolute
        width: 25rem
        height: 25rem

    .first-illustration
        right: 5%
        bottom: -130%

    .second-illustration
        left: -10%
        bottom: -130%

    .third-illustration
        right: -20rem
        bottom: -20rem

    .fourth-illustration
        left: -30rem
        bottom: -100%

    &-header
        font-weight: 700
        font-size: 3.6rem

        text-align: center
        letter-spacing: 0.005em
        text-transform: capitalize

        color: #0C0047

    &-description
        margin: 0 auto
        margin-top: 2.5rem

        text-align: center

        font-size: 1.4rem
        line-height: 1.8rem

        letter-spacing: -0.408px

        color: #969696
        margin-bottom: 5rem

    &-container
        width: 40%
        position: absolute

    &-main
        top: 20rem
        left: 20rem

    &-right
        top: 55rem
        right: 13rem

    &-left

        top: 95rem
        left: 15rem

    // .better-container
    //     margin-bottom: 6.1rem

    //     &__element
    //         display: flex
    //         justify-content: space-between

    //         .better-feature
    //             width: 30%
    //             text-align: center

    //             &:nth-child(2n + 1)
    //                 margin-bottom: 5rem

    //             &_icon
    //                 background-color: grey

    //                 width: 4.5rem
    //                 height: 4.5rem

    //                 margin: 0 auto
    //                 margin-bottom: 2rem

    //                 border-radius: 1rem

    //             &_header
    //                 font-weight: 600
    //                 font-size: 2.2rem

    //                 letter-spacing: -0.408px

    //                 color: #343434

    //                 margin-bottom: 1.5rem

    //             &_text
    //                 font-weight: 400
    //                 font-size: 1.4rem
    //                 letter-spacing: -0.408px

    //                 color: #969696
