@import "cta"
@import "header"
@import "better"
@import "motivation"
@import "profession"
@import "slider"
@import "welcome/welcome"

.landing

    position: relative

    .line
        width: 50rem
        height: 50rem

        position: absolute

        z-index: 10

    .main-line
        bottom: -35rem

    .line-left
        top: 23rem
        left: 25rem

    .line-right
        top: 60rem
        right: 25rem

    .last-line
        top: 140rem
        right: 15rem

        width: 70rem
        height: 70rem
