.motivation
    max-width: 130rem
    margin: 0 auto

    height: 40rem

    padding: 5rem
    padding-top: 0

    position: relative

    &-icon
        position: absolute
        width: 40rem
        height: 40rem
        left: 50%
        top: 0
        transform: translateX(-50%)

    &-header
        text-align: center
        font-weight: 700
        font-size: 3.6rem

        text-align: center
        letter-spacing: 0.005em
        text-transform: capitalize

        color: #0C0047

    @include respond(phone)
        .motivation

            &-icon

    @include respond(tab-land)

    @include respond(tab-port)
