.slider
    position: relative
    background-color: rgba(63, 138, 224, 0.2)
    // background-color: $base-color
    padding: 1rem
    margin-bottom: 7rem

    &-right, &-left
        display: flex
        justify-content: space-between
        align-items: center

        &:not(:last-child)
            margin-bottom: 5rem

    &-right
        animation: right 15s linear infinite

    &-left
        animation: left 15s linear infinite

    &-text
        display: flex
        text-align: center

        position: relative

        &__large
            font-weight: 700
            font-size: 3.6rem
            margin-right: 3rem
            color: rgba(21, 87, 192, 0.2)
        &__small
            font-weight: 700
            font-size: 1.8rem
            line-height: 4.2rem
            margin-right: 3rem
            color: rgba(21, 87, 192, 0.2)

    &-main
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        max-width: 50vw
        padding: 2rem

        z-index: 10

        background: #FFFFFF

        box-shadow: 0px 0px 2rem 1rem rgba(0, 0, 0, 0.05)
        border-radius: 1.5rem

        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        @include respond(phone)
            width: 80%
            max-width: 80%

        @include respond(tab-land)

        @include respond(tab-port)

        &__cta
            font-weight: 700
            font-size: 3.6rem
            line-height: 4.2rem

            color: #0A0A0A

            margin-bottom: 1rem
            text-align: center

        &__description
            font-weight: 400
            font-size: 1.8rem
            line-height: 2.2rem

            color: #0A0A0A
            text-align: center

            margin-bottom: 2rem

        &__button
            border: none
            outline: none

            width: 40%
            height: 4.5rem

            background: #3F8AE0

            box-shadow: 0px 0px 1rem rgba(54, 133, 255, 0.3)
            border-radius: 1rem

            font-weight: 700
            font-size: 1.8rem

            color: #FFFFFF

    @keyframes right
        0%
            transform: translateX(-500px)

        100%
            transform: translateX(100px)

    @keyframes left
        100%
            transform: translateX(-600px)
