.achieve
    margin: 0 auto

    &-header
        font-weight: 600
        font-size: 2.4rem
        color: #202020
        margin-bottom: 3rem

        &__small
            font-size: 1.8rem
            margin-bottom: 2rem

    &__container
        max-width: 80%
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 3rem

        margin-bottom: 3rem

        @include respond(phone)
            max-width: 100%
            grid-template-columns: repeat(2, 1fr)
