@import "login-main"
@import "email-verification"
@import "forgot-password"

.login
    display: flex
    width: 100vw
    height: 100vh

    &-left
        width: 50%
        background: url("./bg.png") no-repeat center
        background-size: cover
        padding: 3rem

        position: relative

        &__container
            position: absolute

            display: flex
            align-items: center

            top: 5%
            left: 5%

        &__logo
            background-color: grey
            width: 3.6rem
            height: 3.6rem
            margin-right: 1rem

        &__name
            font-weight: 700
            font-size: 1.8rem

            color: #000

    &-slider
        padding: 3rem

        height: 22%
        width: 40%

        position: absolute

        top: 50%
        left: 50%

        transform: translate(-50%, -50%)

        background: radial-gradient(107.52% 105.76% at 0% -0.91%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%)
        backdrop-filter: blur(3rem)

        border-radius: 1rem

        transition: 1s all

        display: flex
        justify-content: center
        align-items: center

        flex-direction: column

        &-header
            font-weight: 700
            font-size: 2.6rem

            color: #000

            margin: 1rem 0

        &-header-second
            text-align: center

            font-size: 1.8rem

            color: #818C99

    @include respond(phone)

    @include respond(tab-land)

    @include respond(tab-port)
        display: flex
        justify-content: center
        align-items: center
        position: relative

        .login

            &-left
                position: absolute
                z-index: -1

                width: 100%
                height: 100%
