@import "login-main"

.login
    display: flex
    width: 100vw
    height: 100vh

    &-left
        width: 50%
        background: url("./bg.png") no-repeat center
        background-size: 100%
        padding: 3rem

        &__container
            display: flex
            align-items: center

        &__logo
            background-color: grey
            width: 3.6rem
            height: 3.6rem
            margin-right: 1rem

        &__name
            font-weight: 600
            font-size: 1.8rem

            color: #FFFFFF
