@import "variables"

@import "components/buttons"
@import "components/header"
@import "components/landing"
@import "components/login"
@import "components/profile"
@import "components/regimes"
@import "components/write"

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    overflow-x: hidden

body
    background: #F9F9F9
